body{
    background-color: #293241;
}

.score{
    text-align: center;
}

canvas{
    border: 2px solid #00a7e1;
    background-color: #E0FBFC;
}

.gameArea{
    display: flex;
    justify-content: center;
    align-items: center;
}

.controller{
    display: flex;
    justify-content: center;
    align-items: center;
}

button.controller{
    height: 40px;
    border: none;
    border-radius: 2px;
    font-size: 24px;
    text-align: center;
    margin: 10px 2px;
    padding: 2px 10px;
}

button.controller.reset{
    background-color: #ec8d75;
}

button.controller.reset:hover{
    background-color: #e97254;
}

button.controller.action{
    background-color: #98C1D9;
}

button.controller.action:hover{
    background-color: #63a9d2;
}