body{
    background-color: #cbf3f0;
}

.score{
    text-align: center;
}

canvas{
    border: 2px solid black;
    background-color: beige;
}

.gameArea{
    display: flex;
    justify-content: center;
    align-items: center;
}

.controller{
    display: flex;
    justify-content: center;
    align-items: center;
}

button.controller{
    height: 40px;
    border: none;
    border-radius: 2px;
    font-size: 24px;
    text-align: center;
    margin: 10px 2px;
    padding: 2px 10px;
}

button.controller.reset{
    background-color: #FFCFD2;
}

button.controller.reset:hover{
    background-color: #f6858c;
}

button.controller.action{
    background-color: #70ff7e;
}

button.controller.action:hover{
    background-color: #1cfc33;
}